@import './variables.scss';

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 2.5rem);
  position: absolute;
  gap: 3rem;
  flex-wrap: wrap;
  @media screen and (max-width: 458px) {
    padding-top: 1rem;
  }
}
