@import './variables.scss';
.dialogNewTask {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: $boxShadow;

  &__container {
    position: absolute;
    background-color: #fff;
    top: calc(35vh - 6vh);
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 1rem;
  }
  &__button {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    &__save {
      border: none;
    }
  }
  &__form {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    margin: 1rem;
    &__el {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
