@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/img/background_curve.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  background-color: $warmGrey;
}

.md-48 {
  font-size: 48px;
}
.fltHv {
  color: $canonicalAubergine;
  border-radius: 50%;
  cursor: pointer;
  border: 0.1px solid rgba($color: $coolGrey, $alpha: 0.2);
  &:hover {
    box-shadow: $boxShadowButton;
    transform: translateY(-1.5px);
  }
  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}

.saveButton {
  cursor: pointer;
  background-color: $darkAubergine;
  color: white;
  padding: 0.2rem 1rem;
  &:hover {
    box-shadow: $boxShadowButton;
    transform: translateY(-1.5px);
    border: none;
  }
}
.cancelButton {
  cursor: pointer;
  background-color: $lightAubergine;
  padding: 0.2rem 1rem;
  &:hover {
    box-shadow: $boxShadowButton;
    transform: translateY(-1.5px);
    border: none;
  }
}
