@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/img/background_curve.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  background-color: $warmGrey;
}

.md-48 {
  font-size: 48px;
}

.md-35 {
  font-size: 35px;
}
.fltHv {
  color: $canonicalAubergine;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  border: 0.1px solid rgba($color: $coolGrey, $alpha: 0.2);
  &:hover {
    box-shadow: $boxShadowButton;
    transform: translateY(-1.5px);
  }
  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}

.simpleIconButton {
  cursor: pointer;
  color: $canonicalAubergine;
}

.cancelButton {
  cursor: pointer;
  background-color: $darkAubergine;
  color: white;
  padding: 0.2rem 1rem;
  border: none;
  &:hover {
    box-shadow: $boxShadowButton;
    border: none;
  }
}
.saveButton {
  color: white;
  cursor: pointer;
  background-color: $lightAubergine;
  padding: 0.2rem 1rem;
  border: none;
  &:hover {
    box-shadow: $boxShadowButton;
    border: none;
  }
}

input,
textarea,
select {
  border-radius: 0.3rem;
  border: 1px solid rgba($color: rgba(0, 0, 0, 0.644), $alpha: 0.4);
  &:focus,
  &:hover {
    border: 1px solid rgba($color: rgba(0, 0, 0, 0.644), $alpha: 0.7);
    outline: none;
    box-shadow: $boxShadow;
  }
}
