@import './variables.scss';
.loading {
  margin: 1rem;
  border: 3px solid $warmGrey;
  border-top: 3px solid $midAubergine;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  9% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
