.row {
  display: grid;
  grid-template-columns: repeat(2, 10rem);

  &__element {
    max-width: 10rem;
    overflow: hidden;
    margin: 0.2rem;

    &--r {
      display: flex;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}
.translateX {
  &:hover {
    animation: horizontalTranslate 8s 0s linear infinite;
  }
}

.--title {
  width: 8rem;
  font-size: 0.9rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.--flexCenter {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  padding: 0.3rem;
}

@keyframes horizontalTranslate {
  100% {
    transform: translateX(-100%);
  }
}
