.row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  &__element {
    width: calc(100vw / 10);
    display: flex;
    overflow: hidden;
    margin: 0.2rem;
    flex-wrap: nowrap;
    min-width: 98px;

    &--r {
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
    }
  }
}
