@import './variables.scss';

.sidebar {
  position: absolute;
  top: 2.5rem;
  background-color: $coolGrey;
  height: calc(100% - 2.5rem);
  color: $warmGrey;
  z-index: 2;
  &__element {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem 1rem;
    &:hover * {
      background-color: $warmGrey;
      color: black;
    }
    &:hover {
      background-color: $warmGrey;
    }

    &__link {
      color: $warmGrey;
      text-decoration: none;
    }
  }
}
