.translateX {
  display: inline-block;
  text-align: center;
  &:hover {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: horizontalTranslate 8s 0s linear infinite;
  }
}

@keyframes horizontalTranslate {
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  max-width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
