.timing {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0;

  &__elapsted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__hr {
    width: 95%;
  }

  &__actualProd {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    gap: 0.5rem;
    @media screen and(max-width:460px) {
      flex-wrap: wrap;
    }
  }
}

.clock {
  display: flex;
  gap: 0.5rem;
}

.--l {
  margin: 0;
}

.progressbar {
  min-width: 20rem;
}

.--r {
  margin: 0;
}
